<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <form asp-action="LogOut" asp-controller="Home" method="post">
                        <button class="btn btn-link">Cerrar Sesion</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="row align-middle">
        <h1 class="display-1 text-center">Success!</h1>
    </div>
</div>