@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        @await Html.PartialAsync("Partials/_Register")
        @await Html.PartialAsync("Partials/_Login")
    </div>
</div>
